In [13]:
import sys, os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
from subprocess import check_output
import os


sys.path.append('tools')
from configmanager import ConfigurationManager

'''configurationManager = ConfigurationManager()

video_path_file= configurationManager.config_readable['video_path_file']
flight_id, ext = os.path.splitext(os.path.basename(video_path_file))'''

ana_dataset = "../../Datasets/Mantis-Shrimp-Eye-s-Collision-Avoidance/"
dnn_dataset = "../../Datasets/Mantis-Shrimp-Eye-s-Collision-Avoidance/dnn_dataset/"
output_path_folder = "../../Datasets/Mantis-Shrimp-Eye-s-Collision-Avoidance/outputs/"

# Ana Result

In [3]:
path_dnn_ana_result_dataframe = output_path_folder+'/dnn_ana_result_dataframe.csv'
dnn_ana_result_dataframe =pd.read_csv(path_dnn_ana_result_dataframe)
dnn_ana_result_dataframe.head()

,olusturulma_zamani,flight_id,toplam_frame,kac_karsilasma,ucus_var_tahmin_yok,ucus_yok_tahmin_var,max_range,fps,camera_size,model
0,2023-03-11 14:26:13.773659,00bb96a5a68f4fa5bc5c5dc66ce314d2,201,93,54,0,353.3189,10,"('camera_type:', 'amazon_prime_air_half', ' wi...",best_250_1024.pt

In [4]:
dnn_ana_result_dataframe.tail()

,olusturulma_zamani,flight_id,toplam_frame,kac_karsilasma,ucus_var_tahmin_yok,ucus_yok_tahmin_var,max_range,fps,camera_size,model
0,2023-03-11 14:26:13.773659,00bb96a5a68f4fa5bc5c5dc66ce314d2,201,93,54,0,353.3189,10,"('camera_type:', 'amazon_prime_air_half', ' wi...",best_250_1024.pt

# Train - Test Back - Test Uçuş

In [17]:
ana_train_islemis_dataframe =pd.read_csv(ana_dataset+'/ana_train_islemis_dataframe.csv')
ana_test_background_islemis_dataframe =pd.read_csv(ana_dataset+'/ana_test_background_islemis_dataframe.csv')
ana_test_islemis_dataframe =pd.read_csv(ana_dataset+'/ana_test_islemis_dataframe.csv')

ana_train_islemis_dataframe.head()

,flight_id,toplam_frame,aldigimiz_background_sayisi,toplam_background_sayisi,all_objects
0,0001ba865c8e410e88609541b8f55ffc,1199,8,1102,{'Helicopter1'}
1,0011f3f114a741b5b02326c9e96e597a,1199,8,1117,{'Airplane1'}
2,0036dcc16c474b1abaf14d1735a7e1cf,1199,6,1124,{'Helicopter1'}
3,006345553ed64e77a52d94035e1e747a,1199,10,1096,{'Helicopter1'}
4,0071600242424070b5e0c8cb237192db,1197,4,1139,{'Airplane1'}

In [18]:

ana_test_background_islemis_dataframe.head()

                          flight_id  toplam_frame
0  001578c6c6b340738c9277fcb1307e34          1199
1  0022217d1ed446e9a3a5fef13d33facf          1199
2  003e7a4bf58b4849a90556cb26de248c          1199
3  004474050bdc46c2805ae42048c24c2f          1199
4  004c26c2de5a4d2a85248be48844cb48          1199

In [19]:

ana_test_islemis_dataframe.head()

Empty DataFrame
Columns: [flight_id, toplam_frame, aldigimiz_background_sayisi, toplam_background_sayisi, all_objects]
Index: []

# Flight ID

In [41]:
flight_id = "00bb96a5a68f4fa5bc5c5dc66ce314d2"

flight_id_var_mi=ana_train_islemis_dataframe[ana_train_islemis_dataframe["flight_id"]==flight_id].empty

if flight_id_var_mi ==False:
    temp = ana_train_islemis_dataframe[ana_train_islemis_dataframe["flight_id"]==flight_id]
    print("trainde")
    

flight_id_var_mi=ana_test_background_islemis_dataframe[ana_test_background_islemis_dataframe["flight_id"]==flight_id].empty
if flight_id_var_mi==False:
    temp = ana_test_background_islemis_dataframe[ana_test_background_islemis_dataframe["flight_id"]==flight_id]
    print("trainde")

flight_id_var_mi=ana_test_islemis_dataframe[ana_test_islemis_dataframe["flight_id"]==flight_id].empty
if flight_id_var_mi==False:
    temp = flight_id_var_mi[flight_id_var_mi["flight_id"]==flight_id]
    print("trainde")


temp

trainde

,flight_id,toplam_frame,aldigimiz_background_sayisi,toplam_background_sayisi,all_objects
10,00bb96a5a68f4fa5bc5c5dc66ce314d2,1199,8,1106,{'Airplane1'}

## Result flight

In [6]:
path_dnn_result_dataframe = os.path.join(output_path_folder+flight_id+"/")+'/dnn_result_dataframe.csv'

dnn_result_dataframe = pd.read_csv(path_dnn_result_dataframe)
dnn_result_dataframe.head(60)

,frame_id,result_type,dnn_object_type,dnn_width,dnn_height,dnn_range_distance,pred_object_type,pred_width,pred_height,pred_range_distance,pred_confidence
0,105,FalseNagative,Airplane,27.000000,7.200000,699.080159,NaN,NaN,NaN,NaN,NaN
1,106,FalseNagative,Airplane,28.600000,6.600000,692.630062,NaN,NaN,NaN,NaN,NaN
2,107,FalseNagative,Airplane,29.200000,7.600000,686.419015,NaN,NaN,NaN,NaN,NaN
3,108,FalseNagative,Airplane,28.800000,7.000000,679.760444,NaN,NaN,NaN,NaN,NaN
4,109,FalseNagative,Airplane,29.400000,6.800000,673.387413,NaN,NaN,NaN,NaN,NaN
5,110,FalseNagative,Airplane,30.000000,8.200000,667.194772,NaN,NaN,NaN,NaN,NaN
6,111,FalseNagative,Airplane,29.800000,9.400000,660.494085,NaN,NaN,NaN,NaN,NaN
7,112,FalseNagative,Airplane,31.214185,8.482666,654.149399,NaN,NaN,NaN,NaN,NaN
8,113,FalseNagative,Airplane,29.000000,8.200000,647.658607,NaN,NaN,NaN,NaN,NaN
9,114,FalseNagative,Airplane,30.800000,8.400000,641.365359,NaN,NaN,NaN,NaN,NaN
10,115,FalseNagative,Airplane,30.600000,8.200000,634.920849,NaN,NaN,NaN,NaN,NaN
11,116,FalseNagative,Airplane,31.800000,8.000000,628.388756,NaN,NaN,NaN,NaN,NaN
12,117,FalseNagative,Airplane,30.000000,7.800000,621.967575,NaN,NaN,NaN,NaN,NaN
13,118,FalseNagative,Airplane,32.800000,9.400000,615.808707,NaN,NaN,NaN,NaN,NaN
14,119,FalseNagative,Airplane,35.600000,10.600000,609.272055,NaN,NaN,NaN,NaN,NaN
15,120,FalseNagative,Airplane,34.400000,10.200000,602.950177,NaN,NaN,NaN,NaN,NaN
16,121,FalseNagative,Airplane,33.000000,10.600000,596.420784,NaN,NaN,NaN,NaN,NaN
17,122,FalseNagative,Airplane,31.600000,10.200000,589.981446,NaN,NaN,NaN,NaN,NaN
18,123,FalseNagative,Airplane,33.200000,10.000000,583.678908,NaN,NaN,NaN,NaN,NaN
19,124,FalseNagative,Airplane,37.000000,10.400000,577.194513,NaN,NaN,NaN,NaN,NaN
20,125,FalseNagative,Airplane,34.200000,9.800000,570.891689,NaN,NaN,NaN,NaN,NaN
21,126,FalseNagative,Airplane,35.600000,10.211743,564.336601,NaN,NaN,NaN,NaN,NaN
22,127,FalseNagative,Airplane,36.600000,9.800000,558.206134,NaN,NaN,NaN,NaN,NaN
23,128,FalseNagative,Airplane,36.600000,11.600000,551.537168,NaN,NaN,NaN,NaN,NaN
24,129,FalseNagative,Airplane,35.000000,9.800000,545.095198,NaN,NaN,NaN,NaN,NaN
25,130,FalseNagative,Airplane,39.400000,11.000000,538.716655,NaN,NaN,NaN,NaN,NaN
26,131,FalseNagative,Airplane,39.000000,9.800000,532.481425,NaN,NaN,NaN,NaN,NaN
27,132,FalseNagative,Airplane,37.400000,10.800000,525.940516,NaN,NaN,NaN,NaN,NaN
28,133,FalseNagative,Airplane,39.000000,10.000000,519.449749,NaN,NaN,NaN,NaN,NaN
29,134,FalseNagative,Airplane,38.800000,10.200000,513.012945,NaN,NaN,NaN,NaN,NaN
30,135,FalseNagative,Airplane,40.000000,9.400000,506.578946,NaN,NaN,NaN,NaN,NaN
31,136,FalseNagative,Airplane,42.400000,11.800000,500.168346,NaN,NaN,NaN,NaN,NaN
32,137,FalseNagative,Airplane,41.400000,10.800000,493.715561,NaN,NaN,NaN,NaN,NaN
33,138,FalseNagative,Airplane,41.600000,9.400000,487.270865,NaN,NaN,NaN,NaN,NaN
34,139,FalseNagative,Airplane,42.000000,10.600000,480.902297,NaN,NaN,NaN,NaN,NaN
35,140,FalseNagative,Airplane,43.600000,9.600000,474.532629,NaN,NaN,NaN,NaN,NaN
36,141,FalseNagative,Airplane,44.400000,10.800000,467.980210,NaN,NaN,NaN,NaN,NaN
37,142,FalseNagative,Airplane,45.600000,11.600000,461.615316,NaN,NaN,NaN,NaN,NaN
38,143,FalseNagative,Airplane,46.200000,12.400000,455.276017,NaN,NaN,NaN,NaN,NaN
39,144,FalseNagative,Airplane,45.400000,12.000000,448.886451,NaN,NaN,NaN,NaN,NaN
40,145,FalseNagative,Airplane,46.000000,13.000000,442.405468,NaN,NaN,NaN,NaN,NaN
41,146,FalseNagative,Airplane,45.000000,12.400000,435.977227,NaN,NaN,NaN,NaN,NaN
42,147,FalseNagative,Airplane,46.800000,12.200000,429.547953,NaN,NaN,NaN,NaN,NaN
43,148,FalseNagative,Airplane,48.000000,13.200000,423.218413,NaN,NaN,NaN,NaN,NaN
44,149,FalseNagative,Airplane,47.800000,12.600000,416.899993,NaN,NaN,NaN,NaN,NaN
45,150,FalseNagative,Airplane,48.600000,12.400000,410.445578,NaN,NaN,NaN,NaN,NaN
46,151,FalseNagative,Airplane,49.800000,13.000000,404.134268,NaN,NaN,NaN,NaN,NaN
47,152,FalseNagative,Airplane,50.600000,15.400000,397.815701,NaN,NaN,NaN,NaN,NaN
48,153,FalseNagative,Airplane,51.200000,14.200000,391.514418,NaN,NaN,NaN,NaN,NaN
49,154,FalseNagative,Airplane,55.200000,14.600000,385.040433,NaN,NaN,NaN,NaN,NaN
50,155,FalseNagative,Airplane,53.400000,15.200000,378.756578,NaN,NaN,NaN,NaN,NaN
51,156,FalseNagative,Airplane,55.000000,15.200000,372.295750,NaN,NaN,NaN,NaN,NaN
52,157,FalseNagative,Airplane,56.200000,16.200000,366.156728,NaN,NaN,NaN,NaN,NaN
53,158,FalseNagative,Airplane,55.600000,15.800000,359.710468,NaN,NaN,NaN,NaN,NaN
54,159,TruePositive,Airplane,60.400000,16.200000,353.318900,Airplane,58.0,18.0,0.0,0.724027
55,160,TruePositive,Airplane,59.000000,17.400000,347.019754,Airplane,58.0,18.0,0.0,0.717685
56,161,TruePositive,Airplane,61.400000,18.000000,340.887480,Airplane,62.0,18.0,0.0,0.783671
57,162,TruePositive,Airplane,61.600000,17.400000,334.617637,Airplane,60.0,18.0,0.0,0.797964
58,163,TruePositive,Airplane,64.000000,16.400000,328.113752,Airplane,64.0,20.0,0.0,0.723258
59,164,TruePositive,Airplane,65.200000,16.600000,321.851975,Airplane,68.0,20.0,0.0,0.768729

In [7]:
dnn_result_dataframe.tail()

,frame_id,result_type,dnn_object_type,dnn_width,dnn_height,dnn_range_distance,pred_object_type,pred_width,pred_height,pred_range_distance,pred_confidence
88,193,TruePositive,Airplane,170.6,56.2,150.086884,Airplane,170.0,54.0,0.0,0.901899
89,194,TruePositive,Airplane,182.2,60.4,145.123922,Airplane,178.0,58.0,0.0,0.905265
90,195,TruePositive,Airplane,192.2,64.6,140.130316,Airplane,194.0,62.0,0.0,0.917528
91,196,TruePositive,Airplane,152.6,71.4,135.441598,Airplane,154.0,72.0,0.0,0.869807
92,197,TruePositive,Airplane,82.6,50.8,130.914401,Airplane,84.0,50.0,0.0,0.802648

In [8]:
dnn_result_dataframe.describe()

,frame_id,dnn_width,dnn_height,dnn_range_distance,pred_width,pred_height,pred_range_distance,pred_confidence
count,93.000000,93.000000,93.000000,93.000000,39.000000,39.000000,39.0,39.000000
mean,151.000000,65.634371,19.779036,406.793880,102.153846,32.769231,0.0,0.854057
std,26.990739,39.447942,14.419344,169.403831,36.924916,14.228329,0.0,0.054445
min,105.000000,27.000000,6.600000,130.914401,58.000000,18.000000,0.0,0.717685
25%,128.000000,36.600000,10.200000,259.552576,74.000000,21.000000,0.0,0.841581
50%,151.000000,49.800000,13.200000,404.134268,90.000000,28.000000,0.0,0.869807
75%,174.000000,82.600000,24.000000,551.537168,126.000000,41.000000,0.0,0.887214
max,197.000000,192.200000,71.400000,699.080159,194.000000,72.000000,0.0,0.917528

In [9]:
dnn_result_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   frame_id             93 non-null     int64
 1   result_type          93 non-null     object
 2   dnn_object_type      93 non-null     object
 3   dnn_width            93 non-null     float64
 4   dnn_height           93 non-null     float64
 5   dnn_range_distance   93 non-null     float64
 6   pred_object_type     39 non-null     object
 7   pred_width           39 non-null     float64
 8   pred_height          39 non-null     float64
 9   pred_range_distance  39 non-null     float64
 10  pred_confidence      39 non-null     float64
dtypes: float64(7), int64(1), object(3)
memory usage: 8.1+ KB

## DNN flight

In [10]:
#print(check_output(["ls", "../input"]).decode("utf8"))
path_flight_dnn = dnn_dataset+flight_id+".csv"

flight_dnn = pd.read_csv(path_flight_dnn)
#data.info()
flight_dnn.head()

,flight_id,object_type,object,frame_id,left,top,width,height,area,image_path,range_distance
0,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,105,1414.4,1180.0,27.0,7.2,194.40,E:/Datasets/AmazonAirPrime/airborne-detection-...,699.080159
1,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,106,1416.6,1174.8,28.6,6.6,188.76,E:/Datasets/AmazonAirPrime/airborne-detection-...,692.630062
2,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,107,1417.4,1171.4,29.2,7.6,221.92,E:/Datasets/AmazonAirPrime/airborne-detection-...,686.419015
3,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,108,1418.8,1172.4,28.8,7.0,201.60,E:/Datasets/AmazonAirPrime/airborne-detection-...,679.760444
4,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,109,1422.0,1167.4,29.4,6.8,199.92,E:/Datasets/AmazonAirPrime/airborne-detection-...,673.387413

In [11]:
flight_dnn.tail()

,flight_id,object_type,object,frame_id,left,top,width,height,area,image_path,range_distance
88,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,193,2113.4,1363.2,170.6,56.2,9587.72,E:/Datasets/AmazonAirPrime/airborne-detection-...,150.086884
89,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,194,2165.0,1374.4,182.2,60.4,11004.88,E:/Datasets/AmazonAirPrime/airborne-detection-...,145.123922
90,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,195,2227.6,1384.8,192.2,64.6,12416.12,E:/Datasets/AmazonAirPrime/airborne-detection-...,140.130316
91,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,196,2292.6,1401.8,152.6,71.4,10895.64,E:/Datasets/AmazonAirPrime/airborne-detection-...,135.441598
92,00bb96a5a68f4fa5bc5c5dc66ce314d2,Airplane,Airplane1,197,2363.2,1418.4,82.6,50.8,4196.08,E:/Datasets/AmazonAirPrime/airborne-detection-...,130.914401

In [4]:
flight_dnn.describe()

,frame_id,left,top,width,height,area,range_distance
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000
mean,151.000000,1606.708350,1199.060713,65.634371,19.779036,1842.236145,406.793880
std,26.990739,219.034697,71.076180,39.447942,14.419344,2603.848644,169.403831
min,105.000000,1414.400000,1137.600000,27.000000,6.600000,188.760000,130.914401
25%,128.000000,1458.000000,1147.800000,36.600000,10.200000,377.360000,259.552576
50%,151.000000,1508.400000,1166.000000,49.800000,13.200000,647.400000,404.134268
75%,174.000000,1691.800000,1224.000000,82.600000,24.000000,2016.000000,551.537168
max,197.000000,2363.200000,1418.400000,192.200000,71.400000,12416.120000,699.080159

In [65]:
flight_dnn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   flight_id       93 non-null     object
 1   object_type     93 non-null     object
 2   object          93 non-null     object
 3   frame_id        93 non-null     int64
 4   left            93 non-null     float64
 5   top             93 non-null     float64
 6   width           93 non-null     float64
 7   height          93 non-null     float64
 8   area            93 non-null     float64
 9   image_path      93 non-null     object
 10  range_distance  93 non-null     float64
dtypes: float64(6), int64(1), object(4)
memory usage: 8.1+ KB

## Pred Dataframe

In [12]:
#print(check_output(["ls", "../input"]).decode("utf8"))
path_dnn_pred_dataframe = os.path.join(output_path_folder+flight_id+"/")+'/dnn_pred_dataframe.csv'
dnn_pred_dataframe = pd.read_csv(path_dnn_pred_dataframe)
#data.info()
dnn_pred_dataframe.head()

,object_type,frame_id,left,top,width,height,area,range_distance,confidence
0,Airplane,159,1550.0,1172.0,58.0,18.0,1044.0,0,0.724027
1,Airplane,160,1556.0,1178.0,58.0,18.0,1044.0,0,0.717685
2,Airplane,161,1560.0,1178.0,62.0,18.0,1116.0,0,0.783671
3,Airplane,162,1570.0,1180.0,60.0,18.0,1080.0,0,0.797964
4,Airplane,163,1574.0,1188.0,64.0,20.0,1280.0,0,0.723258

In [67]:
dnn_pred_dataframe.describe()

,frame_id,left,top,width,height,area,range_distance,confidence
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.0,40.000000
mean,177.500000,1794.150000,1259.650000,100.650000,32.800000,3774.600000,0.0,0.854181
std,11.690452,219.898059,70.959559,36.890378,14.896566,3050.556644,0.0,0.059945
min,158.000000,1542.000000,1172.000000,56.000000,16.000000,896.000000,0.0,0.647267
25%,167.750000,1614.000000,1202.500000,76.000000,21.500000,1634.000000,0.0,0.843734
50%,177.500000,1743.000000,1240.000000,87.000000,27.000000,2376.000000,0.0,0.870259
75%,187.250000,1904.500000,1311.000000,124.500000,40.500000,5124.000000,0.0,0.897768
max,197.000000,2364.000000,1420.000000,192.000000,70.000000,12288.000000,0.0,0.925437

In [68]:
dnn_pred_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   object_type     40 non-null     object
 1   frame_id        40 non-null     int64
 2   left            40 non-null     float64
 3   top             40 non-null     float64
 4   width           40 non-null     float64
 5   height          40 non-null     float64
 6   area            40 non-null     float64
 7   range_distance  40 non-null     int64
 8   confidence      40 non-null     float64
dtypes: float64(6), int64(2), object(1)
memory usage: 2.9+ KB

In [69]:
dnn_pred_dataframe[dnn_pred_dataframe["frame_id"]==158]

,object_type,frame_id,left,top,width,height,area,range_distance,confidence
0,Airplane,158,1542.0,1172.0,56.0,16.0,896.0,0,0.752347